<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search your shoes!</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
    <style>
        .own-form {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/client.js"></script>

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Search shoes</h2>
        <p class="lead">This site will help you find the shoes you want!</p>
    </div>

    <div class="own-form mx-auto">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="shopNumberSelect"><b>In how many shops do you want to search?</b></label>
                <select class="custom-select d-block w-100" id="shopNumberSelect" required="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-md-12 mb-3">
                <label for="shopNumberSelect"><b>How many agent clients you want to send?</b></label>
                <select class="custom-select d-block w-100" id="clientAgentSelect" required="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>

            <hr class="mb-4">
            <input type="button" class="btn btn-primary btn-lg btn-block" value="SET"
                   onclick="setInitValues()">

    </div>
    <div id="response" tabindex="0"></div>
</div>

</body>