<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        let searchParam = new URLSearchParams(window.location.search);
        let id = searchParam.get("id");
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/shoes/get/" + id,
            dataType: "json",

            error: function (e) {
                alert("An error occurred while processing JSON");
                console.log("JSON reading failed: ", e);
            },

            success: function (response) {
                console.log(response);
                if (!($(response).length)) {
                    alert("Fail! We don't have this shoes.");
                    return;
                }
                $("#name").append(response['name']);
                $("#price").append(response['price']);
            }
        });
    </script>
</head>
<body>
<table>
    <tr>
        <td>Name:</td>
        <td id="name"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td id="price"></td>
    </tr>
    <tr>
        <td>Picture:</td>
    </tr>

</table>
<script>
    document.write("<img class=\"card-img-top\" src=\"../../static/images/" + id + ".jpg\" alt=\"Photo\">");
</script>
</body>
</html>