<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Search your shoes!</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
    <style>
        .own-form {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/client.js"></script>

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Search shoes</h2>
        <p class="lead">This site will help you find the shoes you want!</p>
    </div>

    <div class="own-form mx-auto">
        <form class="needs-validation">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="whoSelect"><b>For who?</b></label>
                    <select class="custom-select d-block w-100" id="whoSelect" required="">
                        <!--<option value="">Choose...</option>-->
                        <option value="1">Women</option>
                        <option value="2">Men</option>
                        <option value="3">Children</option>
                    </select>
                    <!--<div class="invalid-feedback">-->
                    <!--Please enter your shipping address.-->
                    <!--</div>-->
                </div>
                <div class="col-md-6 mb-3">
                    <label class="d-none d-md-block">&nbsp;</label>
                    <select class="custom-select d-block w-100" id="who_importantSelect" required="">
                        <option value="1">Not important</option>
                        <option value="2">Important</option>
                        <option value="3">Very important</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="colorSelect"><b>Color</b></label>
                    <select class="custom-select d-block w-100" id="colorSelect" required="">
                        <!--<option value="">Choose...</option>-->
                        <option value="1">Dark</option>
                        <option value="2">Light</option>
                        <option value="3">Soft</option>
                        <option value="4">Goudy</option>
                        <option value="5">Multicoloured</option>
                        <option value="6">Unicoloured</option>
                    </select>
                    <!--<div class="invalid-feedback">-->
                    <!--Please select a valid country.-->
                    <!--</div>-->
                </div>
                <div class="col-md-6 mb-3">
                    <label class="d-none d-md-block">&nbsp;</label>
                    <select class="custom-select d-block w-100" id="color_importantSelect" required="">
                        <option value="1">Not important</option>
                        <option value="2">Important</option>
                        <option value="3">Very important</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="categorySelect"><b>Category</b></label>
                    <select class="custom-select d-block w-100" id="categorySelect" required="">
                        <!--<option value="">Choose...</option>-->
                        <option value="1">Sport</option>
                        <option value="2">Elegant</option>
                        <option value="3">Casual</option>
                        <option value="4">Summer</option>
                        <option value="5">Winter</option>
                    </select>
                    <!--<div class="invalid-feedback">-->
                    <!--Please select a valid country.-->
                    <!--</div>-->
                </div>
                <div class="col-md-6 mb-3">
                    <label class="d-none d-md-block">&nbsp;</label>
                    <select class="custom-select d-block w-100" id="category_importantSelect" required="">
                        <option value="1">Not important</option>
                        <option value="2">Important</option>
                        <option value="3">Very important</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="manufacturerSelect"><b>Manufacturer</b></label>
                    <select class="custom-select d-block w-100" id="manufacturerSelect" required="">
                        <option value="1">Luxury</option>
                        <option value="2">Multiple</option>
                        <option value="3">Prestigious</option>
                        <option value="4">Popular</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="d-none d-md-block">&nbsp;</label>
                    <select class="custom-select d-block w-100" id="manufacturer_importantSelect" required="">
                        <option value="1">Not important</option>
                        <option value="2">Important</option>
                        <option value="3">Very important</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="sizeSelect"><b>Size</b></label>
                <select class="custom-select d-block w-100" id="sizeSelect" required="">
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="priceMin"><b>Price min</b></label>
                    <input type="text" class="form-control" id="priceMin" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="priceMax"><b>Price max</b></label>
                    <input type="text" class="form-control" id="priceMax" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <hr class="mb-4">
            <input type="button" class="btn btn-primary btn-lg btn-block" value="Search"
                   onclick="searchShoes()">
        </form>


    </div>
    <div id="response" tabindex="0"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>